$primary-color: #3f51b5;
$white: #ffffff;
$success: #5cb85c;
$danger: #d9534f;
$warning: #f0ad4e;
$info: #5bc0de;
$black: #263238;
$default: #777777;
$main-background-color: #2e0154;
$login-bg-color-1: #2e0154; // #4a148c;
$login-bg-color-2: #7201CD; //  #9575cd;
$text-secondary: #90a4ae;
// @import 'theme';
// $primary-color: $mat-blue;
