<div class="paymentblock">
    <div class="paymentInfo">
        <p>If you are using a debit card, please check with your bank if international usage is enabled in
            the card.</p>
        <p>
            If not, please get it enabled by your bank
        </p>
    </div>
</div>

<!-- <div>
    <button mat-raised-button (click)="onclose()">Close</button>
</div> -->

<div class="rightBack back_nav icon-button">
    <i class="material-icons button-icon" aria-hidden="true" (click)="onclose()" matRipple>arrow_back</i>
    <!-- <i class="material-icons backicon" ></i> -->
</div>
